<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <title>Meine Schule</title>
  <%= stylesheet_link_tag :application, :media => 'all' %>
  <%= stylesheet_link_tag '//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
    <%= render 'navigation' %>

    <%= render 'flashes' %>
    <%= content_for?(:content) ? yield(:content) : yield %>
  </div>

  <div id="footer">
  </div>

  <%= render 'javascript' %>
</body>
</html>
